<div class="grid">
    <div class="col-10 col-offset-1">
        <p-tabView>
            <!-- home -->
            <p-tabPanel header="Home">
                
            </p-tabPanel>
            <!-- courses -->
            <p-tabPanel header="Courses">
                <app-course></app-course>
            </p-tabPanel>
            <!-- enquiry -->
            <p-tabPanel header="Enquiry">
                <app-enquiry></app-enquiry>
            </p-tabPanel>
            <!-- combos -->
            <p-tabPanel header="Combos">
                <app-combos></app-combos>
            </p-tabPanel>
            <!-- jobs -->
            <p-tabPanel header="Jobs">
                <app-jobs></app-jobs>
            </p-tabPanel>
            <!-- job applications -->
            <p-tabPanel header="Job applications">
                <app-job-applications></app-job-applications>
            </p-tabPanel>
        </p-tabView>
    </div>
</div>
